<button class="fancy-button" (click)="connect()">Connect</button>

<div *ngIf="temperature || humidity" class="main__shadow">
  <div id="shadow-info" class="shadow__info">
    <h1 *ngIf="device?.name" name="title" id="temperature" role="header" class="shadow__title">
      ¡Hola!, me llamo {{device.name}}...
    </h1>

    <h1 name="title" id="temperature" role="header" class="shadow__title">Environment:</h1>
    <p *ngIf="temperature" name="temperature" id="temperature" class="shadow__description">Temperature: {{ temperature }} Celcious</p>
    <p *ngIf="humidity" name="humidity" id="humidity" class="shadow__description">Humidity: {{ humidity }} %</p>
  </div>
</div>